{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
   <div class="container">
        <header>

            <span class="logo" style="float: left;
            margin: 0.4em;
            color: yellow;
            font-size: xxx-large;
            font-family: cursive;">Bike Luncher</span>
            <div class="menu-toggle"></div>
            <nav>
                <ul>
                <ul>
                <li><a href="#" class="active" onclick="window.location = '/index'">Home</a></li>
                <li><a href="#" onclick="window.location = '/add'">Add Bike</a></li>


            </ul>
            </ul>

            </nav>
            <div class="clearfix">

            </div>

        </header>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"></script>
      <script type="text/javascript">
       $(document).ready(function(){
           $('.menu-toggle').click(function(){
             $('.menu-toggle').toggleClass('active')
             $('nav').toggleClass('active')
           })
       })
    </script>

      <div class="container">

        <section>
            <div class="box">

                   <div class="card-deck">
                    <div class="card" style="width: 18rem;">
                        <h1>Add to Bike</h1>

			<form method="POST">
				{% csrf_token %}
			   <label for="">Brand Name</label>
						  <input type="text" name="brand" placeholder="Enter Brand Name" required>
                <br />

			    <label for="">Bike Name</label>
						  <input type="text" name="bike" placeholder="Enter Bike Name" required>
                <br />
			    <label for="">Image</label>
                <input type="file" name="img" multiple>

                <br />
			    <label for="">Image1</label>
                <input type="file" name="img1" multiple>
			    <br />
                <label for="">Price</label>

			    <input type="number" name="price" required>
                <br />
                <label for="">Specification</label>
						  <input type="text" name="store" placeholder="Enter Text" required>
                <br />


	            <button><a class="login-button" href="#;" onclick="window.location = '/add'" ><span>ADD</span></a>
                </button>

			</form>


						</div>
                      </div>

                      </div>

			</div>
		</section>
	  </div>
















	<script type="text/javascript" src="{% static 'js/pngfix.js' %}"></script>
</body>
</html>